[Unit]
Description=Hestia server
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
User=ec2-user
ExecStart=/home/ec2-user/server-1.0.0/bin/server

[Install]
WantedBy=multi-user.target
